* {
    padding: 0;
    margin: 0;
}
body{
    background: #000000;
}
.loader {
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader span{
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    transition: all 0.5s;
    animation: animate 2s infinite;
}
.loader span:nth-child(1){
    animation-delay: 0s;
}
.loader span:nth-child(2){
    animation-delay: 0.1s;
}
.loader span:nth-child(3){
    animation-delay: 0.2s;
}
.loader span:nth-child(4){
    animation-delay: 0.3s;
}
.loader span:nth-child(5){
    animation-delay: 0.4s;
}
.loader span:nth-child(6){
    animation-delay: 0.5s;
}   
.loader h1{
    font-family: Arial;
    color: #ffffff;
    text-align: center;
}
@keyframes animate {
    0% {
        border: 1px solid #ffffff;
        background: transparent;
        transform: translateY(0);
    }
    50% {
        border: 1px solid #ffffff;
        background: #ffffff;
        transform: translateY(-25px);
    }
    100%{
        border: 1px solid #ffffff;
        background: #ffffff;
        transform: translateY(0);
    }
}